<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    </configSections>
    <couchbase>
        <servers bucket="TTG.MyDoctorOnline.Publishing.Coordination.ContentPublishingSagas" bucketPassword="">
            <add uri="http://svfmacbookpro:11212/pools"/>
        </servers>
    </couchbase>
</configuration>